/*Photo thumbnail */

.admin_photo_thumbnail {
  width: 200px;
  border-radius: 5px;
}

.photo-info-box {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.info-box-header {
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.photo-info-box .box-inner {
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 6px;
}

.photo-info-box .box-inner .text {
  padding: 7px 9px 19px;
}

.photo-info-box .box-inner .data {
  font-weight: bold;
}

.photo-info-box .info-box-footer {
  border-top: 1px solid #ddd;
  background-color: #ddd;
  padding: 10px;
}

/* Ensures all home page photos have the same box size and keep their aspect ratio */

.thumbnails > img.home_page_photo,
.thumbnails a > img.home_page_photo {
  width: 200px;
  height: 200px;
  max-width: none;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  background: #f8f8f8;
}

/* ul.pager {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
} */

/* ul.pager > li {
  display: block;
} */

/* ul.pager > li.previous > a,
ul.pager > li.previous > span,
ul.pager > li.next > a,
ul.pager > li.next > span {
  float: none !important;
} */

ul.pager > li.active > a,
ul.pager > li.active > span {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
  margin: 0 10px;
}

ul.pager > li.active > a:hover,
ul.pager > li.active > a:focus {
  background-color: #000 !important;
  color: #fff !important;
}

/* Edit user modal styles */

.modal-dialog {
  width: 60% !important;
}

.modal-body {
  overflow: auto;
  height: 150px !important;
  min-height: 300px !important;
}

.modal_thumbnails {
  width: 150px;
  height: 100px !important;
}

#set_user_image {
  margin: 10px;
}

#modal_sidebar {
  position: static;
}

.img_thumbnail {
  object-fit: cover;
  height: 80px;
  width: 120px;
}

.dropzone {
  border: 6px dashed #0087f7 !important;
  border-radius: 5px;
  background: white;
  margin-top: 30px;
}

#login-id label {
  color: #fff;
}
